apiVersion: apps/v1
kind: Deployment
metadata:
  name: tf-serving-deployment
  labels:
    app: tf-serving
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tf-serving
  template:
    metadata:
      labels:
        app: tf-serving
    spec:
      containers:
      - name: tf-serving
        image: tensorflow/serving:2.13.0
        args:
          - "--model_name=car_damage_model"
          - "--model_base_path=/models/car_damage_model"
        ports:
          - name: rest
            containerPort: 8501
          - name: grpc
            containerPort: 8500
        volumeMounts:
          - name: model-volume
            mountPath: /models/car_damage_model
        resources:
          requests:
            cpu: "1"
            memory: "2Gi"
          limits:
            cpu: "2"
            memory: "4Gi"
      volumes:
        - name: model-volume
          hostPath:
            path: /tmp/model/pb
---
apiVersion: v1
kind: Service
metadata:
  name: tf-serving-service
spec:
  selector:
    app: tf-serving
  ports:
    - name: http
      protocol: TCP
      port: 8501
      targetPort: 8501
    - name: grpc
      protocol: TCP
      port: 8500
      targetPort: 8500
  type: NodePort
